.mat-toolbar {
    background: rgba(197, 183, 183, 0.699);
    color: #fff;
}

.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.navlink {
    text-decoration: none;
    font-size: 1rem;
}

.header-icon {
    margin-left: -5px;
    vertical-align: middle;
    margin-top: -5px;
    font-size: 27px;
    color: rgb(151, 17, 17);
}


