<mat-toolbar color="primary" class="navbar">
    <div style="margin-top: 0.5rem; margin-left: 5rem;">
        <img src="../assets/images/fieldfiestacom-high-resolution-logo-color-on-transparent-background (1).svg"
            alt="" />
    </div>

    <div>
        <span><a class="navlink" href="">Home</a></span>
        <span><a class="navlink" href="">Tournaments</a></span>
        <span><a class="navlink" href="">Categories</a></span>
        <span><a class="navlink" href="">Contact Us</a></span>
        <span><a class="navlink" [routerLink]="['/auth']">Sign in</a></span>
    </div>
</mat-toolbar>