

<div class="login-page" >
    <mat-card class="mat-elevation-z12" [ngClass]="myDivClass" >
        <mat-card-title style="text-align:center; margin-top: 2rem;"><img src="../../../assets/images/fieldfiestacom-high-resolution-logo-color-on-transparent-background (1).svg" alt=""></mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
        [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="tabChanged()" >
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form action="">
                        <mat-form-field>
                            <input matInput placeholder="Email" required name="email" ngModel #email="">
                            <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" required minlength="6"
                                name="password" ngModel #password="">
                            <!-- <mat-error *ngIf="password.errors && password.errors.required">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.errors && password.errors.minlength">
                                Password must be of length 6
                            </mat-error> -->
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-checkbox>Remember Me!</mat-checkbox>
                        <button mat-raised-button color="primary" class="login-button">
                            Sign In
                        </button>

                        <button mat-raised-button class="login-button">
                            Login with Google
                        </button>
                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form #signupForm="ngForm" (ngSubmit)="singnupClick(signupForm)" >

                        <mat-form-field>
                            <input matInput placeholder="User Name" minlength="4" required name="username" 
                            [(ngModel)]="user.username">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="signupForm.controls?.['username']?.touched && signupForm.controls?.['username']?.invalid">
                                Min 4 characters long Username is required.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Email" required email name="email" [(ngModel)]="user.email">
                            <mat-error *ngIf="signupForm.controls?.['email']?.touched && signupForm.controls?.['email']?.invalid">A Valid Email is required</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Phone Number" required type="number" minlength="10" name="phoneno" [(ngModel)]="user.phoneno" (ngModelChange)="validateNumber($event)">
                            <mat-error *ngIf="signupForm.controls?.['phoneno']?.touched">
                                Phone Number is required</mat-error>
                            <mat-icon matSuffix>call</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" required minlength="6"
                                name="password" [(ngModel)]="user.password">
                            <mat-error *ngIf="signupForm.controls?.['password']?.touched">
                                Min 6 characters long Password is required.
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Confirm Password" type="password" required minlength="6"
                                name="repassword" [(ngModel)]="user.repassword">
                            <mat-error *ngIf="signupForm.controls?.['repassword']?.touched">
                                I think you know the rule
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit" class="login-button"
                        [disabled]="!signupForm.valid || numberError">
                            Sign Up
                        </button>
                        
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>



